<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />



<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="eventsList"
    [refresh]="refresh"
    
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="eventsList"
    [refresh]="refresh" 
    
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="eventsList"
    [refresh]="refresh"  
   
  >
  </mwl-calendar-day-view>
</div>
<br /><br /><br />




<!-- Calendar Events -->
<div *ngIf="isAdmin">
<h3>
  Edit events 
  <button class="btn btn-primary float-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <th>Title</th>
    <th>Start At</th>
    <th>End At</th>
    <!-- <th>id</th> -->
    <th colspan="2">Action</th> 
  </thead>
  <tbody>
    <tr *ngFor="let event of eventsList" >
      <td><input
        type="text"
        class="form-control"
        [(ngModel)]="event.title"  
        (keyup)="refresh.next()"       
      /></td>
     
        <td>
          <input            
          class="form-control"
          type="text" name="startdate"
          mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Select Date"
        /> 
        </td>
        <td>
          <input            
          class="form-control"
          type="text" name="startdate"
          mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Select Date"
        /> 
        </td>
     
      <!-- <td>
           <button class="btn btn-primary active" (click)="saveEvents(event)"  >Save</button></td>  -->
         <td>  <button  class="btn btn-primary active" (click)="update(event)">Save</button> </td>
        <td><button id="remove" class="btn btn-danger" (click)="delete(event.id)">Delete</button></td> 
    </tr>
  </tbody>
</table>
</div>
</div>
<div>{{eventsList.title}}</div>  




